/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 700px ;
}
  

.left-bar,
.right-bar,
.footer {
  font-family: Arial;
  font-size: 15px;
}


.left-bar {
  float: left;
  height: 600px;
  width: 350px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;  
  position: relative;
  bottom: 160px;
}


.right-bar {
  float: left;
  height: 600px;
  margin-left: 10px;
  width: 500px;
  position: relative;
  bottom: 160px;
}


footer {
  font-size: 25px;
  color: #06365f;
  position: relative;
  top: 400px;
  right: 400px;
  text-align: center;
}


html {
  background-color: white;
  background-size: auto 50px;
  height: 800px;
  width: 1000px;
}



.header {
  background:#1c5380;
  height: 250px;
  margin-bottom: 10px;
  min-width: 725px;
  padding-top: 10px;
  width: 100%;
}


.caja {
background-color: white;  
border-radius: 3%;
padding: 10px 10px 10px 10px;
}


ul {
  list-style-type: none;
}

li {
  background-color: white;
  color: #06365f;
  float: left;
  text-align: center;
  width: 5em;
}


.boton {
background-color: #1c5380;
height: 60px;
width: 80px;
color: white;
border-radius: 6px;
font-size: 20px;
}



